<html>

<head>
  <title>Texas A&M Library</title>
  <script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='d3.layout.cloud.js') }}"></script>
  <!--<script type="text/javascript" src="{{ url_for('static', filename='d3.wordcloud.js') }}"></script>-->
</head>

<body>
  <div id='wordcloud'></div>
  <script>
    function fillColor(d, i) {
      console.log(d, i);
      return d.color;
    }

    var word_list = {{ words_json | safe }};
    console.log({{ words_json | safe }});
    console.log(word_list);
    var colors = {}
     for(var i = 0; i < word_list.length; ++i){
       colors[word_list[i].text] = word_list[i].color;
     }
     var width = window.innerWidth;
     var height = window.innerHeight;
     var svg = d3.select('#wordcloud').append('svg')
			.attr('width', width)
			.attr('height', height)
			.append('g')
      .attr('transform', 'translate('+width/2+', '+height/2+')');

    function drawCloud(words) {
      var vis = svg.selectAll('text').data(words);
		  vis.enter().append('text')
			.style('font-size', function(d) { return d.size + 'px'; })
			.style('font-family', function(d) { return d.font; })
			.style('fill', function(d, i) { return d.color })
			.attr('text-anchor', 'middle')
			.attr('transform', function(d) {
			  return 'translate(' + [d.x, d.y] + ')rotate(' + d.rotate + ')';
			})
			.text(function(d) { return d.text; });
  }

	function calculateCloud(word_list) {
		d3.layout.cloud()
			.size([width, height])
			.words(word_list)
			.rotate(function() { return ~~(Math.random()*2) * 90;}) // 0 or 90deg
			.font('Gorditas')
			.fontSize(function(d) { return d.size * 30; })
			.on('end', drawCloud)
			.start();
  }
  calculateCloud(word_list);
  setTimeout(function () {
       window.location.reload(1);
     }, 5000);
  </script>
</body>

</html>