<html>

<head>
  <title>Texas A&M Library</title>
  <script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='d3.layout.cloud.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='d3.wordcloud.js') }}"></script>
</head>

<body>
  <div id='wordcloud'></div>
  <script>
    function fillColor(d, i) {
      console.log(d, i);
      return d.color;
    }

    var word_list = {{ words_json | safe }};
    var colors = {}
    for(var i = 0; i < word_list.length; ++i){
      colors[word_list[i].text] = word_list[i].color;
    }
    console.log(word_list)
    d3.wordcloud()
      .size([1200, 600])
      .selector('#wordcloud')
      .words(word_list)
      .fill(function(i) {
        return colors[i];
      })
      .start();
/*
    setTimeout(function () {
      window.location.reload(1);
    }, 5000);     */ 
  </script>
</body>

</html>